@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

/*
    -- for variable
    c - color
    ff - font family
*/

:root {
    --c-blue: #1261c9;
    --ff-acme:'Acme', sans-serif;
}

h1,h2,h3 {
    color: var(--c-blue);
}